@charset "UTF-8";

body {
	background-color: ivory;
}

table {
	margin: 0 auto;
	box-shadow: 5px 5px 5px black;
	width: 400px;
	height : 600px;
	background-color: gray;
	color: white;
}

td {
	font-size: 15pt;
	font-weight: 900;
	text-align: center;
}

input[type=submit] {
	width: 150px;
	height: 40px;
	font-size: 15pt;
	color: black;
	border-color: black;
}

input[type=reset] {
	width: 150px;
	height: 40px;
	font-size: 15pt;
	color: black;
	border-color: black;
}

textarea {
	resize: none;
	width: 180px;
	height: 100px;
	font-size: 13pt;
	outline-color: black;
}

input {
	padding: 5px;
	border-radius: 5px;
	text-align: center;
}